{{#if user.uno}}
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="img/logo_opt.png" height="50px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link dropdown" href="/modulos">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown" href="/profile">Mi perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getperfilcv?token={{user.uno.email}}"
              >Descargar mi CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compartir CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Convocatorias CV</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Más
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
               type="submit" data-toggle="modal" data-target="#changepassword" data-whatever="@mdo">Cambiar contraseña</a>
              <a class="dropdown-item" href="/logout">Cerrar sesión</a>
            </div>

            <div
              class="modal fade"
              id="changepassword"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-header flex-column">
                    <div class="icon-box">
                      <img src="img/lock.png" alt="" width="50px" height="auto" style="padding-top:10px;">
                    </div>
                    <h4 class="modal-title w-100">¡Alerta!</h4>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-hidden="true"
                    >×</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body text-left">
                      <ul>
                          <li>Te enviaremos un correo a {{user.uno.email}} para que puedas cambiar tu contraseña</li>
                          <li>Se cerrará tu sesión actual</li>
                      </ul>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >Cancelar</button>
                      <a
                        href="/sendmailPassword/{{user.uno.email}}"
                        class="btn btn-danger"
                      >Continuar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{else if user}}
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo_opt.png" height="50px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile">{{user.nom_usu}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{/if}}